/*navbar section*/
.header {
    background-color: rgb(225, 217, 209);
    color: rgb(18, 16, 16);
    margin-bottom: 0;
    /* width: 100vw; */
    height: 40px;
    display: flex;
}

.nivaarak {
    text-decoration: none;
    color: rgb(58, 25, 3);
    font-size: 20px;
    font-style: bold italic;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.navbar-link {
    text-decoration: none;
    color: rgb(58, 25, 3);
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*carrousel section*/
.caroussel-img {
    /* width: 100px; */
    height: 750px;
    display: flex;
}

.caroussel-heading {
    color: rgb(212, 89, 7);
}


/*about section*/
.about-section {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    margin-right: 15px;
    margin-top: 50px;
}

.about-img {
    margin-top: 50px;
    margin-left: 5px;
    margin-bottom: 25px;
    display: flex;
}


/*register section*/
.form-heading {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style:  normal;
}

.register-container {
    margin-left: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 55px;
    width: 75vw;
}

.registrationform {
    margin-top: 82px;
    display: block;
    border-radius: 15px;
    padding: 20px;
    width: 30vw;
}

.forgot-password {
    text-decoration: none;
    color: black;
}

.forgot-password:hover {
    color: rgb(75, 30, 0);
    text-decoration: none;
}

.forgot-password-container {
    margin-top: 250px;
    margin-bottom: 220px;
}

.button {
    display: flex;
    background-color: rgb(120, 48, 0);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.button:hover {
    background-color: rgb(69, 28, 0);
    color: white;
    transition: 0.3s ease-in-out;
}


/*login section*/
.login-container {
    margin-left: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 55px;
    width: 75vw;
}

.loginform {
    display: block;
    border-radius: 15px;
    padding: 20px;
    width: 30vw;
    margin-bottom: 175px;
}


/*footer section*/
.footer {
    background-color: rgb(33, 14, 1);
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}